In [23]:
# !pip install langchain langchain_community ollama

In [24]:
from langchain_community.llms import Ollama

In [25]:
llm = Ollama(model = "llama3")#,temperature=0.2)
#qwen2:latest

In [26]:
for chunk in llm.stream("Hi how are you?"):
    print(chunk, end = "")

I'm just an AI, so I don't have feelings or emotions like humans do. But I'm functioning properly and ready to help with any questions or tasks you may have! How can I assist you today?

In [27]:
from langchain_community.utilities import SQLDatabase

In [28]:
#conn_str = "mssql+pyodbc://gg:ostia@minipc/iatest?driver=ODBC+Driver+17+for+SQL+Server"
conn_str = "mssql+pyodbc://gg:ostia@minipc/MSPLITEPRO_v3gg?driver=ODBC+Driver+17+for+SQL+Server"

#conn_str = "mssql+pyodbc://gg:ostia@minipc/korta?driver=ODBC+Driver+17+for+SQL+Server"

q="Cual ha sido las ventas del año pasado a los clientes"
q="Cual ha sido las ventas por año  a los clientes. Muéstrame el resultado en Json"
q="Cuál ha sido el cliente al que más le he vendido"
q="Cuál ha sido el artículo que pasa vendido"
q="Para la empresa con codigo 1, que TIPOREG=CF en la tabla de T_ORDTER. Qué necesidades tengo de de compra para los artículos el 21 de diciembre del 2020"
q="Para la empresa con codigo 1,  Qué necesidades de compra de cantidad de artículos tengo el 21 de diciembre del 2020, Teniendo en cuenta los pedidos que estan en la tabla T_ORDTER con TIPOREG=CF y su stock que esta en la tabla T_STOCKS"
q="Para la empresa con codigo 1,  Qué necesidades de compra de cantidad de artículos tengo el 21 de diciembre del 2020, Teniendo en cuenta los pedidos que estan en la tabla T_ORDTER con TIPOREG=CF, su stock que esta en la tabla T_STOCKS y las ordenes de fabricacion que estan en T_ORDFAB y T_ORDFABM con TIPOREG=F" 
q="Cuántos Clientes hay?"
q="Cuántos Clientes hay con El nombre que contenga 'ELDU' ?"
#q="Cuántas facturas hay"
#db = SQLDatabase.from_uri(conn_str) #("sqlite:///Chinook.db")
#def __init__(
 #       self,
 #       engine: Engine,
 #       schema: Optional[str] = None,
 #       metadata: Optional[MetaData] = None,
 #       ignore_tables: Optional[List[str]] = None,
 #       include_tables: Optional[List[str]] = None,
 #       sample_rows_in_table_info: int = 3,
 #       indexes_in_table_info: bool = False,
 #       custom_table_info: Optional[dict] = None,
 #       view_support: bool = False,
 #       max_string_length: int = 300,
 #       lazy_table_reflection: bool = False,
 #   ):
 #       metadata: Optional[MetaData] = None,
 #       ignore_tables: Optional[List[str]] = None,
 #       include_tables: Optional[List[str]] = None,
 #       sample_rows_in_table_info: int = 3,
 #       indexes_in_table_info: bool = False,
 #       custom_table_info: Optional[dict] = None,
 #       view_support: bool = False,
 #       max_string_length: int = 300,
 #       lazy_table_reflection: bool = False,

#tables=["T_FACTURAS","T_CLIENTES","T_EMPRESA"]
#db111 = SQLDatabase.from_uri(conn_str,include_tables=tables,sample_rows_in_table_info = 0 )
db = SQLDatabase.from_uri(conn_str,sample_rows_in_table_info = 2)#,lazy_table_reflection=True)

#db = SQLDatabase.from_uri("sqlite:///chinook.db", sample_rows_in_table_info = 3)

In [29]:
db.get_usable_table_names()

['ALMACEN',
 'APUNTE',
 'ARTICULO',
 'ARTICULOS_ESTRUC',
 'ASIENTO',
 'BALANCE',
 'BALANCEL',
 'BALANCEL_MASA',
 'BANCO',
 'CARACTERISTICA',
 'CLIENTE',
 'CLIENTES_USU_LICENCIA',
 'CONDICIONES_PAGO',
 'CONFIG_LISNAV',
 'CONTADOR',
 'CONTRATO_PAGO',
 'CONTROL_FEC',
 'COPIAS',
 'CUENTA_EMAIL',
 'CUENTA_EMAIL_CONFIG',
 'DEF_ARTICULO',
 'DEF_BALANCE',
 'DEF_BALANCEL',
 'DEF_BALANCEL_MASA',
 'DEF_CONDICIONES_PAGO',
 'DEF_CONFIG_LISNAV',
 'DEF_CONTADOR',
 'DEF_DIVISA',
 'DEF_DOCUMENTO',
 'DEF_EMPRESAL',
 'DEF_ESTILOS_BAL',
 'DEF_FPAGO',
 'DEF_GRUPOS_ARTICULO',
 'DEF_GRUPOS_CLIENTE',
 'DEF_GRUPOS_DOCUMENTO',
 'DEF_GRUPOS_DOCUMENTOL',
 'DEF_GRUPOS_NACION',
 'DEF_GRUPOS_PROVEEDOR',
 'DEF_IDIOMA',
 'DEF_IMPUESTO',
 'DEF_MASA',
 'DEF_MASAL',
 'DEF_MODELOS_NATIVA',
 'DEF_NACION',
 'DEF_NATIVA',
 'DEF_PLANCUENTA',
 'DEF_PROVINCIA',
 'DEF_TABLAS_VERSION',
 'DEF_TIPOPLAN',
 'DEF_TIPO_IMPUESTO',
 'DEF_T_EQUIPO',
 'DEF_T_EQUIPO_REC',
 'DEF_T_PROYECTO_CALENDARIO',
 'DEF_T_PROYECTO_CALENDARIO_DIA',
 'DEF_T_PROYECTO_TIPO',
 'DEF_T_RECURSO',
 'DEF_UBICACION',
 'DEF_UNIDAD',
 'DEF_USUARIOL',
 'DESCUENTO',
 'DIRECCION',
 'DIVISA',
 'DOCUMENTO',
 'EJERCICIO',
 'EJERCICIOL',
 'EMPRESA',
 'EMPRESAL',
 'EMPRESA_TABLAS_VERSION',
 'ESTILOS_BAL',
 'FACTURACION_ORDEN',
 'FPAGO',
 'GRUPOS_ARTICULO',
 'GRUPOS_ARTICULO_CARAC',
 'GRUPOS_CLIENTE',
 'GRUPOS_DOCUMENTO',
 'GRUPOS_DOCUMENTOL',
 'GRUPOS_NACION',
 'GRUPOS_PROVEEDOR',
 'IMPUESTO',
 'MANDATO',
 'MASA',
 'MASAL',
 'MODELOS_NATIVA',
 'MOVIMIENTO',
 'MOVIMIENTOL',
 'MOVIPROG',
 'NACION',
 'NATIVA',
 'PARTES_GASTO',
 'PARTES_SESION',
 'PLANCUENTA',
 'PROVEEDOR',
 'PROVINCIA',
 'REMESA',
 'SIS_BALANCE',
 'SIS_BALANCEL',
 'SIS_BALANCEL_MASA',
 'SIS_CARACTERISTICA',
 'SIS_CONFIG_LISNAV',
 'SIS_COPIA',
 'SIS_ENVIO_EMAIL',
 'SIS_ESTILOS_BAL',
 'SIS_HELP',
 'SIS_IDIOMA',
 'SIS_MASA',
 'SIS_MASAL',
 'SIS_MODELOS',
 'SIS_MODELOS_ESTRUC',
 'SIS_MODELOS_PARAM',
 'SIS_MODELOS_VAR',
 'SIS_MODULO',
 'SIS_MODULO_NACION',
 'SIS_NOMBRE',
 'SIS_NOMBREL',
 'SIS_NOTICIA',
 'SIS_PUBLICIDAD',
 'TIPOSDOC',
 'TIPO_IMPUESTO',
 'T_ALBARAN',
 'T_ALBARANL',
 'T_EQUIPO',
 'T_EQUIPO_REC',
 'T_FACTURA',
 'T_FACTURAL',
 'T_FACTURA_IMP',
 'T_FACTURA_VTO',
 'T_GRECURSO',
 'T_OFERTA',
 'T_OFERTAL',
 'T_ORDTER',
 'T_ORDTERL',
 'T_ORDTER_IMP',
 'T_PROYECTO',
 'T_PROYECTO_CALENDARIO',
 'T_PROYECTO_CALENDARIO_DIA',
 'T_PROYECTO_CALENDARIO_EXCEPCION',
 'T_PROYECTO_ESTRUC',
 'T_PROYECTO_LINK',
 'T_PROYECTO_RECURSO',
 'T_PROYECTO_RECURSO_UNIT',
 'T_PROYECTO_TIPO',
 'T_RECURSO',
 'T_TARIFASL_CLI',
 'T_TARIFAS_CLI',
 'UNIDAD',
 'USUARIO',
 'USUARIOL',
 'USUARIO_SAAS']

In [30]:
print(db.table_info)

c:\Ia\iosub\IA\IA-Langchain-Agents\.venv\Lib\site-packages\langchain_community\utilities\sql_database.py:316: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "ARTICULO, BANCO, DIVISA, EMPRESA, GRUPOS_NACION, NACION, PROVEEDOR, PROVINCIA, T_RECURSO, USUARIO", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  metadata_table_names = [tbl.name for tbl in self._metadata.sorted_tables]
c:\Ia\iosub\IA\IA-Langchain-Agents\.venv\Lib\site-packages\langchain_community\utilities\sql_database.py:328: SAWarning: Cannot correctly sort tables; there are unresolvable cycles between tables "ARTICULO, BANCO, DIVISA, EMPRESA, GRUPOS_NACION, NACION, PROVEEDOR, PROVINCIA, T_RECURSO, USUARIO", which is usually caused by mutually dependent foreign key constraints.  Foreign key constraints involving these tables will not be considered; this warning may raise an error in a future release.
  for tbl in self._metadata.sorted_tables

CREATE TABLE [ALMACEN] (
	[Id_ALMACEN] INTEGER NOT NULL,
	[Id_EMPRESA] INTEGER NULL,
	[COD_ALM] NVARCHAR(5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DENOMI] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id_CLIENTE] INTEGER NULL,
	[Id_PROVEEDOR] INTEGER NULL,
	[INVENTARIO] BIT NOT NULL DEFAULT ((0)),
	[FAC_SAL] BIT NOT NULL DEFAULT ((0)),
	[FAC_ENT] BIT NOT NULL DEFAULT ((0)),
	[CONTACTO] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DIRECC] NVARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CODPOS] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LOCALIDAD] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id_PROVINCIA] INTEGER NULL,
	[Id_PAIS] INTEGER NULL,
	[TEL] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TEL2] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FAX] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WWW] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL1] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL2] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL3] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SREFER] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NREFER] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	upsize_ts TIMESTAMP NULL,
	[STWF] INTEGER NOT NULL DEFAULT ((0)),
	CONSTRAINT [PK_ALMACEN] PRIMARY KEY ([Id_ALMACEN])
)

/*
2 rows from ALMACEN table:
Id_ALMACEN	Id_EMPRESA	COD_ALM	DENOMI	Id_CLIENTE	Id_PROVEEDOR	INVENTARIO	FAC_SAL	FAC_ENT	CONTACTO	DIRECC	CODPOS	LOCALIDAD	Id_PROVINCIA	Id_PAIS	TEL	TEL2	FAX	WWW	EMAIL1	EMAIL2	EMAIL3	SREFER	NREFER	BLOQUEO	FECHAC	FECHAM	Id_USUCRE	Id_USUMOD	upsize_ts	STWF

*/


CREATE TABLE [APUNTE] (
	[ID_APUNTE] INTEGER NOT NULL IDENTITY(1,1),
	[Id_ASIENTO] INTEGER NOT NULL,
	[LINEA] INTEGER NOT NULL DEFAULT ((0)),
	[TIPO] NVARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id_CUENTA] INTEGER NOT NULL,
	[CONCEPTO] NVARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DEBE] DECIMAL(18, 2) NOT NULL DEFAULT ((0)),
	[HABER] DECIMAL(18, 2) NOT NULL DEFAULT ((0)),
	[NDOCU] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECDOCU] DATE NULL,
	[ENLACET] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id_ENLACEN] INTEGER NULL,
	[PUNTEO_OR] INTEGER NULL,
	[PUNTEO_DS] INTEGER NULL,
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	upsize_ts TIMESTAMP NULL,
	[STWF] INTEGER NOT NULL DEFAULT ((0)),
	CONSTRAINT [PK_APUNTES] PRIMARY KEY ([ID_APUNTE]),
	CONSTRAINT [FK_DIARIO_ASIENTO] FOREIGN KEY([Id_ASIENTO]) REFERENCES [ASIENTO] ([Id_ASIENTO]),
	CONSTRAINT [FK_DIARIO_PLANCUENTA] FOREIGN KEY([Id_CUENTA]) REFERENCES [PLANCUENTA] ([Id_CUENTA]),
	CONSTRAINT [FK_DIARIO_USUARIO] FOREIGN KEY([Id_USUCRE]) REFERENCES [USUARIO] ([Id_USUARIO]),
	CONSTRAINT [FK_DIARIO_USUARIO1] FOREIGN KEY([Id_USUMOD]) REFERENCES [USUARIO] ([Id_USUARIO])
)

/*
2 rows from APUNTE table:
ID_APUNTE	Id_ASIENTO	LINEA	TIPO	Id_CUENTA	CONCEPTO	DEBE	HABER	NDOCU	FECDOCU	ENLACET	Id_ENLACEN	PUNTEO_OR	PUNTEO_DS	BLOQUEO	FECHAC	FECHAM	Id_USUCRE	Id_USUMOD	upsize_ts	STWF
197344	78937	1	None	3979	ASIENTO DE CIERRE	0.00	3005.06	None	None	None	None	None	None	False	2011-09-19 16:15:52.260000	None	1	None	b'\x00\x00\x00\x00\x00\x00\x07\xd1'	0
197345	78937	2	None	3990	ASIENTO DE CIERRE	0.00	5592.39	None	None	None	None	None	None	False	2011-09-19 16:15:52.263000	None	1	None	b'\x00\x00\x00\x00\x00\x00\x07\xd2'	0
*/


CREATE TABLE [ARTICULOS_ESTRUC] (
	[Id_ESTRUC] INTEGER NOT NULL IDENTITY(1,1),
	[Id_ARTICULO] INTEGER NOT NULL,
	[Id_COMPON] INTEGER NOT NULL,
	[DESCRIP] NVARCHAR(500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CANTIDAD] DECIMAL(18, 4) NOT NULL,
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	upsize_ts TIMESTAMP NULL,
	CONSTRAINT [PK_ARTICULOS_ESTRUC] PRIMARY KEY ([Id_ESTRUC]),
	CONSTRAINT [FK_ARTICULOS_ESTRUC_ARTICULO] FOREIGN KEY([Id_ARTICULO]) REFERENCES [ARTICULO] ([Id_ARTICULO]),
	CONSTRAINT [FK_ARTICULOS_ESTRUC_ARTICULO1] FOREIGN KEY([Id_COMPON]) REFERENCES [ARTICULO] ([Id_ARTICULO]),
	CONSTRAINT [FK_ARTICULOS_ESTRUC_USUARIO] FOREIGN KEY([Id_USUCRE]) REFERENCES [USUARIO] ([Id_USUARIO]),
	CONSTRAINT [FK_ARTICULOS_ESTRUC_USUARIO1] FOREIGN KEY([Id_USUMOD]) REFERENCES [USUARIO] ([Id_USUARIO])
)

/*
2 rows from ARTICULOS_ESTRUC table:
Id_ESTRUC	Id_ARTICULO	Id_COMPON	DESCRIP	CANTIDAD	BLOQUEO	FECHAC	FECHAM	Id_USUCRE	Id_USUMOD	upsize_ts
2	310	305	Gestión integral de proyectos	1.0000	False	2012-02-07 11:58:30.837000	None	4	None	b'\x00\x00\x00\x00\x00\x01v='
3	311	306	Contabilidad	1.0000	False	2012-02-07 11:59:41.677000	None	4	None	b'\x00\x00\x00\x00\x00\x01v>'
*/


CREATE TABLE [ARTICULO] (
	[Id_ARTICULO] INTEGER NOT NULL IDENTITY(1,1),
	[Id_EMPRESA] INTEGER NOT NULL,
	[TIPO] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL DEFAULT ('A'),
	[CODART] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DENOMI] NVARCHAR(500) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[REF] NVARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id_GRUART] INTEGER NOT NULL,
	[Id_UNIDAD] INTEGER NULL,
	[Id_UNIDADC] INTEGER NULL,
	[PRECIOV] DECIMAL(18, 4) NOT NULL DEFAULT ((0)),
	[PRECIOC] DECIMAL(18, 4) NOT NULL DEFAULT ((0)),
	[Id_CUENTAC] INTEGER NULL,
	[Id_CUENTAV] INTEGER NULL,
	[Id_NATIVA] INTEGER NULL,
	[MOVI_STOCKS] BIT NOT NULL DEFAULT ((0)),
	[Id_RESPONSABLE] INTEGER NULL,
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	upsize_ts TIMESTAMP NULL,
	[IMAGEN] BIT NOT NULL DEFAULT ((0)),
	[STWF] INTEGER NOT NULL DEFAULT ((0)),
	[CARAC] XML NULL,
	[Id_IVA_C] INTEGER NULL,
	[Id_IVA_V] INTEGER NULL,
	[SUPLIDO] BIT NOT NULL DEFAULT ((0)),
	[Id_IRPF] INTEGER NULL,
	[AGRUPAR_FACT] BIT NOT NULL DEFAULT ((1)),
	[Id_IVA_C_2] INTEGER NULL,
	[Id_IVA_C_3] INTEGER NULL,
	[Id_IVA_C_4] INTEGER NULL,
	[Id_RETENCION2] INTEGER NULL,
	[Id_RETENCION3] INTEGER NULL,
	[Id_RETENCION4] INTEGER NULL,
	[Id_IVA_V_2] INTEGER NULL,
	[Id_IVA_V_3] INTEGER NULL,
	[Id_IVA_V_4] INTEGER NULL,
	CONSTRAINT [PK_ARTICULOS] PRIMARY KEY ([Id_ARTICULO]),
	CONSTRAINT [FK_ARTICULO_EMPRESA] FOREIGN KEY([Id_EMPRESA]) REFERENCES [EMPRESA] ([Id_EMPRESA]),
	CONSTRAINT [FK_ARTICULO_GRUPOS_ARTICULO] FOREIGN KEY([Id_GRUART]) REFERENCES [GRUPOS_ARTICULO] ([Id_GRUART]),
	CONSTRAINT [FK_ARTICULO_IMPUESTO] FOREIGN KEY([Id_IRPF]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IMPUESTO_IVA_C] FOREIGN KEY([Id_IVA_C]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IMPUESTO_IVA_V] FOREIGN KEY([Id_IVA_V]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IMPUESTO_RET_2] FOREIGN KEY([Id_RETENCION2]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IMPUESTO_RET_3] FOREIGN KEY([Id_RETENCION3]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IMPUESTO_RET_4] FOREIGN KEY([Id_RETENCION4]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IVA_C_2] FOREIGN KEY([Id_IVA_C_2]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IVA_C_3] FOREIGN KEY([Id_IVA_C_3]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IVA_C_4] FOREIGN KEY([Id_IVA_C_4]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IVA_V_2] FOREIGN KEY([Id_IVA_V_2]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IVA_V_3] FOREIGN KEY([Id_IVA_V_3]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_IVA_V_4] FOREIGN KEY([Id_IVA_V_4]) REFERENCES [IMPUESTO] ([Id_IMPUESTO]),
	CONSTRAINT [FK_ARTICULO_NATIVA] FOREIGN KEY([Id_NATIVA]) REFERENCES [NATIVA] ([Id_NATIVA]),
	CONSTRAINT [FK_ARTICULO_PLANCUENTA] FOREIGN KEY([Id_CUENTAC]) REFERENCES [PLANCUENTA] ([Id_CUENTA]),
	CONSTRAINT [FK_ARTICULO_PLANCUENTA1] FOREIGN KEY([Id_CUENTAV]) REFERENCES [PLANCUENTA] ([Id_CUENTA]),
	CONSTRAINT [FK_ARTICULO_T_RECURSO] FOREIGN KEY([Id_RESPONSABLE]) REFERENCES [T_RECURSO] ([Id_RECURSO]),
	CONSTRAINT [FK_ARTICULO_UNIDAD] FOREIGN KEY([Id_UNIDAD]) REFERENCES [UNIDAD] ([Id_UNIDAD]),
	CONSTRAINT [FK_ARTICULO_UNIDAD1] FOREIGN KEY([Id_UNIDADC]) REFERENCES [UNIDAD] ([Id_UNIDAD]),
	CONSTRAINT [FK_ARTICULO_USUARIO] FOREIGN KEY([Id_USUCRE]) REFERENCES [USUARIO] ([Id_USUARIO]),
	CONSTRAINT [FK_ARTICULO_USUARIO1] FOREIGN KEY([Id_USUMOD]) REFERENCES [USUARIO] ([Id_USUARIO])
)

/*
2 rows from ARTICULO table:
Id_ARTICULO	Id_EMPRESA	TIPO	CODART	DENOMI	REF	Id_GRUART	Id_UNIDAD	Id_UNIDADC	PRECIOV	PRECIOC	Id_CUENTAC	Id_CUENTAV	Id_NATIVA	MOVI_STOCKS	Id_RESPONSABLE	BLOQUEO	FECHAC	FECHAM	Id_USUCRE	Id_USUMOD	upsize_ts	IMAGEN	STWF	CARAC	Id_IVA_C	Id_IVA_V	SUPLIDO	Id_IRPF	AGRUPAR_FACT	Id_IVA_C_2	Id_IVA_C_3	Id_IVA_C_4	Id_RETENCION2	Id_RETENCION3	Id_RETENCION4	Id_IVA_V_2	Id_IVA_V_3	Id_IVA_V_4
2	1	A	20	Contrato de Mantenimiento	None	65	2	2	0.0000	0.0000	595	4487	3	False	None	False	2011-09-12 09:43:49.497000	2012-11-21 14:45:38.167000	1	5	b'\x00\x00\x00\x00\x00\x01t\xc4'	False	0	None	12	2	False	None	True	None	None	None	None	None	None	None	None	None
3	1	A	H-ANALI	Horas Analista	None	32	2	2	95.0000	0.0000	595	4484	3	False	None	False	2011-09-12 09:43:49.517000	None	1	None	b'\x00\x00\x00\x00\x00\x01t\xc5'	False	0	None	12	2	False	None	True	None	None	None	None	None	None	None	None	None
*/


CREATE TABLE [ASIENTO] (
	[Id_ASIENTO] INTEGER NOT NULL IDENTITY(1,1),
	[Id_EMPRESA] INTEGER NOT NULL,
	[FECHA] DATE NOT NULL,
	[NUMASIENTO] INTEGER NOT NULL,
	[NREFERENCIA] INTEGER NOT NULL,
	[Id_EJERCICIO] INTEGER NOT NULL,
	[TIPO] NVARCHAR(2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SREFERENCIA] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NDOCU] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FECDOCU] DATE NULL,
	[ORIGEN] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id_ENLACEN] INTEGER NULL,
	[PUNTEO_OR] INTEGER NULL,
	[PUNTEO_DS] INTEGER NULL,
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	upsize_ts TIMESTAMP NULL,
	[R_NUMASIENTO] INTEGER NULL,
	[STWF] INTEGER NOT NULL DEFAULT ((0)),
	CONSTRAINT [PK_ASIENTO] PRIMARY KEY ([Id_ASIENTO]),
	CONSTRAINT [FK_ASIENTO_EJERCICIO] FOREIGN KEY([Id_EJERCICIO]) REFERENCES [EJERCICIO] ([Id_EJERCICIO]),
	CONSTRAINT [FK_ASIENTO_EMPRESA] FOREIGN KEY([Id_EMPRESA]) REFERENCES [EMPRESA] ([Id_EMPRESA]),
	CONSTRAINT [FK_ASIENTO_USUCRE] FOREIGN KEY([Id_USUCRE]) REFERENCES [USUARIO] ([Id_USUARIO]),
	CONSTRAINT [FK_ASIENTO_USUMOD] FOREIGN KEY([Id_USUMOD]) REFERENCES [USUARIO] ([Id_USUARIO])
)

/*
2 rows from ASIENTO table:
Id_ASIENTO	Id_EMPRESA	FECHA	NUMASIENTO	NREFERENCIA	Id_EJERCICIO	TIPO	SREFERENCIA	NDOCU	FECDOCU	ORIGEN	Id_ENLACEN	PUNTEO_OR	PUNTEO_DS	BLOQUEO	FECHAC	FECHAM	Id_USUCRE	Id_USUMOD	upsize_ts	R_NUMASIENTO	STWF
78937	1	1995-12-31	1995000001	1995000001	1	M	None	None	None	None	None	None	None	False	2011-09-19 10:41:10.790000	None	1	None	b'\x00\x00\x00\x00\x00\x01vZ'	1995000001	0
78938	1	1995-12-31	1995900001	1995900001	1	R	None	None	None	None	None	None	None	False	2011-09-19 10:41:10.790000	None	1	None	b'\x00\x00\x00\x00\x00\x01v['	1995900001	0
*/


CREATE TABLE [BALANCEL] (
	[Id_BAL_LINEA] INTEGER NOT NULL IDENTITY(1,1),
	[Id_BALANCE] INTEGER NOT NULL,
	[LINEA] INTEGER NULL,
	[ORDEN] INTEGER NULL,
	[NIVEL] INTEGER NULL,
	[DENOMI] NVARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DENOMI_PIE] NVARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SIGNO] INTEGER NULL DEFAULT ((1)),
	[CONDI] INTEGER NULL DEFAULT ((0)),
	[AGRUP] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TIPO] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id_ESTILO_CAB] INTEGER NULL,
	[Id_ESTILO_PIE] INTEGER NULL,
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	upsize_ts TIMESTAMP NULL,
	[STWF] INTEGER NOT NULL DEFAULT ((0)),
	CONSTRAINT [PK_BALANCEL] PRIMARY KEY ([Id_BAL_LINEA]),
	CONSTRAINT [FK_BALANCEL_BALANCE] FOREIGN KEY([Id_BALANCE]) REFERENCES [BALANCE] ([Id_BALANCE]),
	CONSTRAINT [FK_BALANCEL_ESTILOS_BAL] FOREIGN KEY([Id_ESTILO_CAB]) REFERENCES [ESTILOS_BAL] ([Id_ESTILO]),
	CONSTRAINT [FK_BALANCEL_ESTILOS_BAL1] FOREIGN KEY([Id_ESTILO_PIE]) REFERENCES [ESTILOS_BAL] ([Id_ESTILO]),
	CONSTRAINT [FK_BALANCEL_USUARIO] FOREIGN KEY([Id_USUCRE]) REFERENCES [USUARIO] ([Id_USUARIO]),
	CONSTRAINT [FK_BALANCEL_USUARIO1] FOREIGN KEY([Id_USUMOD]) REFERENCES [USUARIO] ([Id_USUARIO])
)

/*
2 rows from BALANCEL table:
Id_BAL_LINEA	Id_BALANCE	LINEA	ORDEN	NIVEL	DENOMI	DENOMI_PIE	SIGNO	CONDI	AGRUP	TIPO	Id_ESTILO_CAB	Id_ESTILO_PIE	BLOQUEO	FECHAC	FECHAM	Id_USUCRE	Id_USUMOD	upsize_ts	STWF
1	1	1001	10000	0	ACTIVO	TOTAL ACTIVO	1	0	000.000.000.000.000.000	N	None	None	False	2011-09-07 17:35:57.743000	None	1	None	b'\x00\x00\x00\x00\x00\x01\xe4\xee'	0
2	1	1002	11000	1	A) ACTIVO NO CORRIENTE	None	1	0	000.010.000.000.000.000	N	None	None	False	2011-09-07 17:35:57.743000	None	1	None	b'\x00\x00\x00\x00\x00\x01\xe4\xef'	0
*/


CREATE TABLE [BALANCEL_MASA] (
	[Id_BAL_LINEA] INTEGER NOT NULL,
	[Id_MASA] INTEGER NOT NULL,
	[SIGNO] INTEGER NULL DEFAULT ((1)),
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	[STWF] INTEGER NOT NULL DEFAULT ((0)),
	CONSTRAINT [PK_BALANCEL_MASA] PRIMARY KEY ([Id_BAL_LINEA], [Id_MASA]),
	CONSTRAINT [FK_BALANCEL_MASA_BALANCEL] FOREIGN KEY([Id_BAL_LINEA]) REFERENCES [BALANCEL] ([Id_BAL_LINEA]),
	CONSTRAINT [FK_BALANCEL_MASA_MASA] FOREIGN KEY([Id_MASA]) REFERENCES [MASA] ([Id_MASA]),
	CONSTRAINT [FK_BALANCEL_MASA_USUARIO] FOREIGN KEY([Id_USUCRE]) REFERENCES [USUARIO] ([Id_USUARIO]),
	CONSTRAINT [FK_BALANCEL_MASA_USUARIO1] FOREIGN KEY([Id_USUMOD]) REFERENCES [USUARIO] ([Id_USUARIO])
)

/*
2 rows from BALANCEL_MASA table:
Id_BAL_LINEA	Id_MASA	SIGNO	BLOQUEO	FECHAC	FECHAM	Id_USUCRE	Id_USUMOD	STWF
9	24	1	False	2011-09-07 17:35:57.743000	None	1	None	0
10	25	1	False	2011-09-07 17:35:57.743000	None	1	None	0
*/


CREATE TABLE [BALANCE] (
	[Id_BALANCE] INTEGER NOT NULL IDENTITY(1,1),
	[Id_EMPRESA] INTEGER NOT NULL,
	[CODBAL] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DENOMI] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PRINCIPAL] BIT NULL DEFAULT ((0)),
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	upsize_ts TIMESTAMP NULL,
	[STWF] INTEGER NOT NULL DEFAULT ((0)),
	CONSTRAINT [PK_BALANCES] PRIMARY KEY ([Id_BALANCE]),
	CONSTRAINT [FK_BALANCE_EMPRESA] FOREIGN KEY([Id_EMPRESA]) REFERENCES [EMPRESA] ([Id_EMPRESA]),
	CONSTRAINT [FK_BALANCE_USUARIO] FOREIGN KEY([Id_USUCRE]) REFERENCES [USUARIO] ([Id_USUARIO]),
	CONSTRAINT [FK_BALANCE_USUARIO1] FOREIGN KEY([Id_USUMOD]) REFERENCES [USUARIO] ([Id_USUARIO])
)

/*
2 rows from BALANCE table:
Id_BALANCE	Id_EMPRESA	CODBAL	DENOMI	PRINCIPAL	BLOQUEO	FECHAC	FECHAM	Id_USUCRE	Id_USUMOD	upsize_ts	STWF
1	1	BALANCE NORMAL	BALANCE DE SITUACION	True	False	2011-09-07 17:35:57.743000	None	1	None	b'\x00\x00\x00\x00\x00\x01\xe4\xe8'	0
2	1	CUENTA  PPGG NORMAL	CUENTA DE PERDIDAS Y GANANCIAS	True	False	2011-09-07 17:35:57.743000	None	1	None	b'\x00\x00\x00\x00\x00\x01\xe4\xe9'	0
*/


CREATE TABLE [BANCO] (
	[Id_BANCO] INTEGER NOT NULL IDENTITY(1,1),
	[Id_EMPRESA] INTEGER NOT NULL,
	[CODBANCO] NVARCHAR(5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Id_PAIS] INTEGER NULL,
	[Id_DIVISA] INTEGER NOT NULL,
	[CIF] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DENOMI] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CONTACTO] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DIRECC] NVARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CODPOS] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LOCALIDAD] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id_PROVINCIA] INTEGER NULL,
	[TEL] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TEL2] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[FAX] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[WWW] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL1] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL2] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EMAIL3] NVARCHAR(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[SREFER] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NREFER] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Id_GRUPDOC] INTEGER NULL,
	[Id_CUENTA] INTEGER NOT NULL,
	[Id_PROVEE] INTEGER NULL,
	[SWIFT] NVARCHAR(11) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IBAN] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	upsize_ts TIMESTAMP NULL,
	[STWF] INTEGER NOT NULL DEFAULT ((0)),
	CONSTRAINT [PK_BANCOS] PRIMARY KEY ([Id_BANCO]),
	CONSTRAINT [FK_BANCO_DIVISA] FOREIGN KEY([Id_DIVISA]) REFERENCES [DIVISA] ([Id_DIVISA]),
	CONSTRAINT [FK_BANCO_EMPRESA] FOREIGN KEY([Id_EMPRESA]) REFERENCES [EMPRESA] ([Id_EMPRESA]),
	CONSTRAINT [FK_BANCO_GRUPOSDOCUMENTOS] FOREIGN KEY([Id_GRUPDOC]) REFERENCES [GRUPOS_DOCUMENTO] ([Id_GRUPDOC]),
	CONSTRAINT [FK_BANCO_NACION] FOREIGN KEY([Id_PAIS]) REFERENCES [NACION] ([Id_PAIS]),
	CONSTRAINT [FK_BANCO_PLANCUENTA] FOREIGN KEY([Id_CUENTA]) REFERENCES [PLANCUENTA] ([Id_CUENTA]),
	CONSTRAINT [FK_BANCO_PROVEEDOR] FOREIGN KEY([Id_PROVEE]) REFERENCES [PROVEEDOR] ([Id_PROVEE]),
	CONSTRAINT [FK_BANCO_PROVINCIA] FOREIGN KEY([Id_PROVINCIA]) REFERENCES [PROVINCIA] ([Id_PROVINCIA]),
	CONSTRAINT [FK_BANCO_USUARIOC] FOREIGN KEY([Id_USUCRE]) REFERENCES [USUARIO] ([Id_USUARIO]),
	CONSTRAINT [FK_BANCO_USUARIOM] FOREIGN KEY([Id_USUMOD]) REFERENCES [USUARIO] ([Id_USUARIO])
)

/*
2 rows from BANCO table:
Id_BANCO	Id_EMPRESA	CODBANCO	Id_PAIS	Id_DIVISA	CIF	DENOMI	CONTACTO	DIRECC	CODPOS	LOCALIDAD	Id_PROVINCIA	TEL	TEL2	FAX	WWW	EMAIL1	EMAIL2	EMAIL3	SREFER	NREFER	Id_GRUPDOC	Id_CUENTA	Id_PROVEE	SWIFT	IBAN	BLOQUEO	FECHAC	FECHAM	Id_USUCRE	Id_USUMOD	upsize_ts	STWF
31	1	00001	65	46	1	BANKINTER	Feli Lanau	ELCANO, 10	20004	SAN SEBASTIAN	20	943 447236	None	943 447209	None	mflanau@bankinter.es	None	None	None	None	1	2117	None	None	01280340130502029441	False	2011-09-15 14:23:48.077000	None	1	None	b'\x00\x00\x00\x00\x00\x01\xe6N'	0
32	1	00002	65	46	1	KUTXA	Ana Arregui	O.EMP.:GARIBAY, 15	20004	SAN SEBASTIAN	20	943 411000	None	943 430186	None	aarregui@kutxa.es	None	None	None	None	1	2118	None	BASKES2BXXX	20955206051062217103	False	2011-09-15 14:23:48.080000	2014-02-13 15:39:40.507000	1	5	b'\x00\x00\x00\x00\x00\x01\xe6O'	0
*/


CREATE TABLE [CARACTERISTICA] (
	[Id_CARAC] INTEGER NOT NULL IDENTITY(1,1),
	[Id_EMPRESA] INTEGER NOT NULL,
	[CLASE] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL DEFAULT ('A'),
	[CARAC] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DENOMI] NVARCHAR(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TIPO] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TIPOCONTROL] NVARCHAR(1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LIMITAR] BIT NOT NULL,
	[DATOS] XML NULL,
	[BLOQUEO] BIT NOT NULL DEFAULT ((0)),
	[FECHAC] DATETIME NULL DEFAULT (getutcdate()),
	[FECHAM] DATETIME NULL,
	[Id_USUCRE] INTEGER NULL,
	[Id_USUMOD] INTEGER NULL,
	upsize_ts TIMESTAMP NULL,
	[STWF] INTEGER NOT NULL DEFAULT ((0)),

In [31]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain.agents import AgentType

In [32]:
#agent_executor = create_sql_agent(llm, db = db, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose = True,stream_runnable=False,handle_parsing_errors=True)
#agent_executor = create_sql_agent(llm, db=db, agent_type="tool-calling", verbose=True, stream_runnable=False)
#agent_executor = create_sql_agent(llm, db = db, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose = True,handle_parsing_errors=True)
#agent_executor = create_sql_agent(llm, db = db, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose = True)
agent_executor = create_sql_agent(llm, db = db, agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION, verbose = True, stream_runnable=False ,handle_parsing_errors=False)

In [33]:
#agent_executor.invoke("How many different Artists are in the database?")
#print(agent_executor.agent.runnable.get_prompts()[0].messages[0].content)
#agent_executor.invoke(q,handle_parsing_errors=True,include_run_info=True)
agent_executor.invoke(q)
#agent_executor.invoke("How many Artists are in the database?")

> Entering new SQL Agent Executor chain...
Thought: To find out how many clients have a name that contains 'ELDU', I need to query the database. First, I need to check which table has the client information.

Action: sql_db_list_tables
Action Input: empty stringALMACEN, APUNTE, ARTICULO, ARTICULOS_ESTRUC, ASIENTO, BALANCE, BALANCEL, BALANCEL_MASA, BANCO, CARACTERISTICA, CLIENTE, CLIENTES_USU_LICENCIA, CONDICIONES_PAGO, CONFIG_LISNAV, CONTADOR, CONTRATO_PAGO, CONTROL_FEC, COPIAS, CUENTA_EMAIL, CUENTA_EMAIL_CONFIG, DEF_ARTICULO, DEF_BALANCE, DEF_BALANCEL, DEF_BALANCEL_MASA, DEF_CONDICIONES_PAGO, DEF_CONFIG_LISNAV, DEF_CONTADOR, DEF_DIVISA, DEF_DOCUMENTO, DEF_EMPRESAL, DEF_ESTILOS_BAL, DEF_FPAGO, DEF_GRUPOS_ARTICULO, DEF_GRUPOS_CLIENTE, DEF_GRUPOS_DOCUMENTO, DEF_GRUPOS_DOCUMENTOL, DEF_GRUPOS_NACION, DEF_GRUPOS_PROVEEDOR, DEF_IDIOMA, DEF_IMPUESTO, DEF_MASA, DEF_MASAL, DEF_MODELOS_NATIVA, DEF_NACION, DEF_NATIVA, DEF_PLANCUENTA, DEF_PROVINCIA, DEF_TABLAS_VERSION, DEF_TIPOPLAN, DEF_TIPO_IMPUESTO, DEF_T_EQUIPO, DEF_T_EQUIPO_REC, DEF_T_PROYECTO_CALENDARIO, DEF_T_PROYECTO_CALENDARIO_DIA, DEF_T_PROYECTO_TIPO, DEF_T_RECURSO, DEF_UBICACION, DEF_UNIDAD, DEF_USUARIOL, DESCUENTO, DIRECCION, DIVISA, DOCUMENTO, EJERCICIO, EJERCICIOL, EMPRESA, EMPRESAL, EMPRESA_TABLAS_VERSION, ESTILOS_BAL, FACTURACION_ORDEN, FPAGO, GRUPOS_ARTICULO, GRUPOS_ARTICULO_CARAC, GRUPOS_CLIENTE, GRUPOS_DOCUMENTO, GRUPOS_DOCUMENTOL, GRUPOS_NACION, GRUPOS_PROVEEDOR, IMPUESTO, MANDATO, MASA, MASAL, MODELOS_NATIVA, MOVIMIENTO, MOVIMIENTOL, MOVIPROG, NACION, NATIVA, PARTES_GASTO, PARTES_SESION, PLANCUENTA, PROVEEDOR, PROVINCIA, REMESA, SIS_BALANCE, SIS_BALANCEL, SIS_BALANCEL_MASA, SIS_CARACTERISTICA, SIS_CONFIG_LISNAV, SIS_COPIA, SIS_ENVIO_EMAIL, SIS_ESTILOS_BAL, SIS_HELP, SIS_IDIOMA, SIS_MASA, SIS_MASAL, SIS_MODELOS, SIS_MODELOS_ESTRUC, SIS_MODELOS_PARAM, SIS_MODELOS_VAR, SIS_MODULO, SIS_MODULO_NACION, SIS_NOMBRE, SIS_NOMBREL, SIS_NOTICIA, SIS_PUBLICIDAD, TIPOSDOC, TIPO_IMPUESTO, T_ALBARAN, T_ALBARANL, T_EQUIPO, T_EQUIPO_REC, T_FACTURA, T_FACTURAL, T_FACTURA_IMP, T_FACTURA_VTO, T_GRECURSO, T_OFERTA, T_OFERTAL, T_ORDTER, T_ORDTERL, T_ORDTER_IMP, T_PROYECTO, T_PROYECTO_CALENDARIO, T_PROYECTO_CALENDARIO_DIA, T_PROYECTO_CALENDARIO_EXCEPCION, T_PROYECTO_ESTRUC, T_PROYECTO_LINK, T_PROYECTO_RECURSO, T_PROYECTO_RECURSO_UNIT, T_PROYECTO_TIPO, T_RECURSO, T_TARIFASL_CLI, T_TARIFAS_CLI, UNIDAD, USUARIO, USUARIOL, USUARIO_SAASLet's start by checking which table has the client information.

Action: sql_db_list_tables
Action Input: empty stringALMACEN, APUNTE, ARTICULO, ARTICULOS_ESTRUC, ASIENTO, BALANCE, BALANCEL, BALANCEL_MASA, BANCO, CARACTERISTICA, CLIENTE, CLIENTES_USU_LICENCIA, CONDICIONES_PAGO, CONFIG_LISNAV, CONTADOR, CONTRATO_PAGO, CONTROL_FEC, COPIAS, CUENTA_EMAIL, CUENTA_EMAIL_CONFIG, DEF_ARTICULO, DEF_BALANCE, DEF_BALANCEL, DEF_BALANCEL_MASA, DEF_CONDICIONES_PAGO, DEF_CONFIG_LISNAV, DEF_CONTADOR, DEF_DIVISA, DEF_DOCUMENTO, DEF_EMPRESAL, DEF_ESTILOS_BAL, DEF_FPAGO, DEF_GRUPOS_ARTICULO, DEF_GRUPOS_CLIENTE, DEF_GRUPOS_DOCUMENTO, DEF_GRUPOS_DOCUMENTOL, DEF_GRUPOS_NACION, DEF_GRUPOS_PROVEEDOR, DEF_IDIOMA, DEF_IMPUESTO, DEF_MASA, DEF_MASAL, DEF_MODELOS_NATIVA, DEF_NACION, DEF_NATIVA, DEF_PLANCUENTA, DEF_PROVINCIA, DEF_TABLAS_VERSION, DEF_TIPOPLAN, DEF_TIPO_IMPUESTO, DEF_T_EQUIPO, DEF_T_EQUIPO_REC, DEF_T_PROYECTO_CALENDARIO, DEF_T_PROYECTO_CALENDARIO_DIA, DEF_T_PROYECTO_TIPO, DEF_T_RECURSO, DEF_UBICACION, DEF_UNIDAD, DEF_USUARIOL, DESCUENTO, DIRECCION, DIVISA, DOCUMENTO, EJERCICIO, EJERCICIOL, EMPRESA, EMPRESAL, EMPRESA_TABLAS_VERSION, ESTILOS_BAL, FACTURACION_ORDEN, FPAGO, GRUPOS_ARTICULO, GRUPOS_ARTICULO_CARAC, GRUPOS_CLIENTE, GRUPOS_DOCUMENTO, GRUPOS_DOCUMENTOL, GRUPOS_NACION, GRUPOS_PROVEEDOR, IMPUESTO, MANDATO, MASA, MASAL, MODELOS_NATIVA, MOVIMIENTO, MOVIMIENTOL, MOVIPROG, NACION, NATIVA, PARTES_GASTO, PARTES_SESION, PLANCUENTA, PROVEEDOR, PROVINCIA, REMESA, SIS_BALANCE, SIS_BALANCEL, SIS_BALANCEL_MASA, SIS_CARACTERISTICA, SIS_CONFIG_LISNAV, SIS_COPIA, SIS_ENVIO_EMAIL, SIS_ESTILOS_BAL, SIS_HELP, SIS_IDIOMA, SIS_MASA, SIS_MASAL, SIS_MODELOS, SIS_MODELOS_ESTRUC, SIS_MODELOS_PARAM, SIS_MODELOS_VAR, SIS_MODULO, SIS_MODULO_NACION, SIS_NOMBRE, SIS_NOMBREL, SIS_NOTICIA, SIS_PUBLICIDAD, TIPOSDOC, TIPO_IMPUESTO, T_ALBARAN, T_ALBARANL, T_EQUIPO, T_EQUIPO_REC, T_FACTURA, T_FACTURAL, T_FACTURA_IMP, T_FACTURA_VTO, T_GRECURSO, T_OFERTA, T_OFERTAL, T_ORDTER, T_ORDTERL, T_ORDTER_IMP, T_PROYECTO, T_PROYECTO_CALENDARIO, T_PROYECTO_CALENDARIO_DIA, T_PROYECTO_CALENDARIO_EXCEPCION, T_PROYECTO_ESTRUC, T_PROYECTO_LINK, T_PROYECTO_RECURSO, T_PROYECTO_RECURSO_UNIT, T_PROYECTO_TIPO, T_RECURSO, T_TARIFASL_CLI, T_TARIFAS_CLI, UNIDAD, USUARIO, USUARIOL, USUARIO_SAAS

ValueError: An output parsing error occurred. In order to pass this error back to the agent and have it try again, pass `handle_parsing_errors=True` to the AgentExecutor. This is the error: Could not parse LLM output: `Based on the list of tables provided, it appears that the table "CLIENTE" has information about clients.

Please let me know what you would like to do next.`